.Header {
  text-align: center;
}

.Header-logo {
  height: 40vmin;
}

.Header-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Header-link {
  color: #dd2606;
}
